<div class='column'>
    <div class='row'>
        <h2 class='header'>Inventory</h2>
    </div>
    <div class='row'>
        <div class='column'>
            <%# <%= form_tag %> %>
                <div class='row'>
                    <div class='column'>
                        <div class='row'>
                            <%# <%= @item.brand %> | %>
                            <%# <%= @item.name %> %>
                        </div>
                        <div class='row'>
                            <%# <%= link_to 'Details', item_path %> %>
                        </div>
                    </div>
                </div>
            <%# <% end %> %>
        </div>
    </div>
</div>