<div class='column'>
    <div class='row'>
        <h2 class='header-content'>Inventory</h2>
    </div>
    <div class='row'>
        <div class='column'>
            <%= link_to 'New Item', new_item_path %>
        </div>
    </div>
    <div class='row'>
        <div class='column'>
            <% @items.each do |item| %>
                <div class='row'>
                    <div class='column'>
                        <div class='row'>
                            <%= item.brand %> |
                            <%= item.name %>
                        </div>
                        <div class='row'>
                            <%= link_to 'Details', item_path(item) %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>