/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body
    display: flex
    flex-direction: column

.page-container
    display: flex
    flex-direction: column
    padding: 0% 12.5% 0%

.column
    display: flex
    flex-direction: column
    box-sizing: border-box
    border: 2px solid red
    padding: 1em
    margin: 1em

.row
    display: flex
    flex-direction: row
    box-sizing: border-box
    border: 2px solid green
    padding: 1em
    margin: 1em

.nav-container
    display: flex
    flex-direction: column
    box-sizing: border-box
    padding: 0.15em
    margin: 0em 0em 0.15em
    min-height: 5em
    border: 2px solid green

.nav-row
    display: flex
    flex-direction: row
    box-sizing: border-box
    padding: 0.15em
    border: 2px solid red
    justify-content: space-between

.nav-group
    display: flex
    flex-direction: row
    justify-content: space-between
    box-sizing: border-box
    padding: 0.15em
    border: 2px solid blue
    min-width: 30%

.nav-item
    display: flex
    border: 2px solid green
    border-radius: 7px
